DATABASE_PATH=data/validator.db
DNS_TIMEOUT_SECONDS=2.0
DNS_CACHE_TTL_SECONDS=86400
DNS_ERROR_CACHE_TTL_SECONDS=300
MAX_BATCH_SIZE=10000
MAX_UPLOAD_BYTES=5242880
DOMAIN_CONCENTRATION_THRESHOLD=0.70
DOMAIN_CONCENTRATION_MIN_LIST_SIZE=100

